.teamMatch-page-container {
  background-color: red;
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.competing-team-logo {
  width: 200px;
}
.latest-match-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  color: #ffffff;
  font-family: 'Bree serif';
  background-color: #1e293b;
  padding: 30px;
}
.innings-container {
  text-align: right;
}
